@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body,html {font-size:12px;margin:0px;padding:0px;font-family:PingFang-SC-Regular,HeitiJ-Light,Helvetica Neue,Helvetica,STHeiTi,sans-serif,Microsoft Yahei,Arial;color:#333;outline:0;speak:none;-webkit-font-feature-settings:normal;-moz-font-feature-settings:normal;font-feature-settings:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

body{background:#e5e5e5;}

ul,li{ list-style:none;padding:0px;margin:0px;}

b, em, h1, h2, h3, h4, h5, h6, strong{font-weight:400;}

img{ border:0;vertical-align: middle;} 

a{ text-decoration:none;color:#333;}
a:hover{color:#df0004;}

input,textarea,select{vertical-align: middle;border:0 none; outline:none;}

::-webkit-input-placeholder {color:#4b4b4b;}
:-moz-placeholder {color:#4b4b4b;}
::-moz-placeholder {color:#4b4b4b;}
:-ms-input-placeholder {color:#4b4b4b;}


header{height:50px;line-height:50px;padding:0px 100px;background:#fff;text-align:center;font-size:18px;position:fixed;top:0px;left:0px; right:0px;z-index:99;overflow:hidden;}

.i_back{padding:0px 0px 0px 50px;height:50px;background:url(../images/i_back.png) no-repeat 10px center; background-size:32px 32px;line-height:50px;font-size:16px;display:block; position:absolute;left:0px;top:0px;}

.i_more{width:50px;height:50px;background:url(../images/i_more.png) no-repeat center center ; background-size:32px 32px;line-height:50px;font-size:16px;display:block; position:absolute;right:0px;top:0px;}

header h2{font-size:24px;}


footer{height:60px;line-height:60px; position:fixed;bottom:0px;left:0px;right:0px;background:#fff; text-align:center; z-index:99; box-shadow: 0px 0px 10px #999;}
footer li{width:25%;float:left;}
footer li a{padding:35px 0px 0px 0px;height:25px;line-height:25px;font-size:14px;background-repeat:no-repeat;background-size:32px 32px; background-position:center 5px;display:block;}
.i_n1{background-image:url(../images/ib_n1.png);}
.i_n2{background-image:url(../images/ib_n2.png);}
.i_n3{background-image:url(../images/ib_n3.png);}
.i_n4{background-image:url(../images/ib_n4.png);}

footer .btn_ba{margin:0px 15px;}

.act .i_n1{background-image:url(../images/ib_n1_act.png);}
.act .i_n2{background-image:url(../images/ib_n2_act.png);}
.act .i_n3{background-image:url(../images/ib_n3_act.png);}
.act .i_n4{background-image:url(../images/ib_n4_act.png);}

.header-blank{height:50px;}
.footer-blank{height:60px;}
.searchbox-blank{height:52px;}

.searchbox{background:#fff;padding:10px 30px;clear:both;zoom:1;}
.searchbox:after{content: ""; display: block; clear: both; height: 0px;}
.searchbox .search{height:32px;line-height:32px;background:url(../images/i_search.png) no-repeat 10px center #ddd; background-size:24px 24px;padding:0px 10px 0px 40px; border-radius:5px;}
.searchbox .search_input{ background:none;height:32px;line-height:32px;width:100%;font-size:14px;}
.searchbox .search_btn{display:none;}

.searchbox-fixed{ position:fixed;top:50px;left:0px;right:0px;z-index:99;}



.banner-focus .swiper-container {width: 100%;height: 100%;background:#fff;}
.banner-focus .swiper-slide {text-align: center;}
.banner-focus .swiper-slide img{width:100%;}

.nav{padding:10px;margin-bottom:10px;background:#fff;clear:both;zoom:1;}
.nav:after{content: ""; display: block; clear: both; height: 0px;}
.nav ul{ width:100%;text-align:center;}
.nav li{width:25%;float:left;}
.nav li a{font-size:14px;display:inline-block;}
.nav li a span{width:36px;height:36px; background-color:#ffbf00; border-radius:100%;background-repeat:no-repeat;background-size:24px 24px; background-position:center center;display:block;margin-bottom:5px;}
.i_a1{background-image:url(../images/i_a1.png);}
.i_a2{background-image:url(../images/i_a2.png);}
.i_a3{background-image:url(../images/i_a3.png);}
.i_a4{background-image:url(../images/i_a4.png);}



.banner{padding:10px 5px;margin-bottom:10px;background:#fff;clear:both;zoom:1;}
.banner:after{content: ""; display: block; clear: both; height: 0px;}
.banner img{width:100%;}


.tjcp{margin-bottom:10px;background:#fff;clear:both;zoom:1;}
.tjcp:after{content: ""; display: block; clear: both; height: 0px;}
.tjcp .hd{height:25px;line-height:25px;}
.tjcp .hd h3{width:75px;height:25px;padding:0px 15px 0px 10px;background:url(../images/is_ar_right.png) no-repeat 75px center #ffbf00; background-size:14px 14px; border-radius:0px 25px 25px 0px;float:left;}
.tjcp .hd .right{float:right; position:relative;}
.tjcp .hd .i_msg{ position:absolute;right:0px;top:0px;display:inline-block;height:25px;line-height:25px;font-size:12px;padding:0px 10px 0px 5px; border-radius:25px 0px 0px 25px;background:#fffefa;color:#ff7e00; white-space:nowrap; box-shadow:1px 1px 5px #999;}
.tjcp .hd .i_msg img{width:20px;height:20px;display:inline-block; vertical-align:middle; border-radius:100%;margin-right:5px;}
.tjcp .bd{padding:15px 15px;clear:both;zoom:1;}
.tjcp .bd:after{content: ""; display: block; clear: both; height: 0px;}
.tjcp .bd .list{padding:0px 5px 0px 0px;float:left;}
.tjcp .bd .list .pic{height:130px; position:relative;}
.tjcp .bd .list .pic img{width:165px;height:130px;}
.tjcp .bd .list .pic .count{ position:absolute;left:5px;bottom:0px;color:#fff;line-height:20px;font-size:12px;}
.tjcp .bd .list .txt{padding:5px 0px 0px 0px;}
.tjcp .bd .list .txt h3{font-size:14px;line-height:20px;white-space:nowrap;overflow:hidden;}
.tjcp .bd .list .txt .price{font-size:14px;font-weight:bold;line-height:20px;}

.swiper-container-list .swiper-slide{width:170px;}
.swiper-container-list{overflow:hidden;}


.rmcp{margin-bottom:10px;background:#fff;clear:both;zoom:1;}
.rmcp:after{content: ""; display: block; clear: both; height: 0px;}
.rmcp .hd{height:25px;line-height:25px;}
.rmcp .hd h3{width:75px;height:25px;padding:0px 15px 0px 10px;background:url(../images/is_ar_right.png) no-repeat 75px center #ffbf00; background-size:14px 14px; border-radius:0px 25px 25px 0px;float:left;}
.rmcp .hd .right{float:right; position:relative;}
.rmcp .bd{padding:0px 15px;clear:both;zoom:1;}
.rmcp .bd:after{content: ""; display: block; clear: both; height: 0px;}
.rmcp .bd .list{padding:15px 85px 15px 0px;height:80px;border-bottom:1px #e5e5e5 solid;clear:both;zoom:1; position:relative;}
.rmcp .bd .list:after{content: ""; display: block; clear: both; height: 0px;}
.rmcp .bd .list .pic{width:80px;height:80px; position:absolute;top:15px;right:0px;}
.rmcp .bd .list .pic img{width:100%;height:100%;}
.rmcp .bd .list .txt{padding:0px 0px 0px 0px;height:80px;position:relative;overflow:hidden;}
.rmcp .bd .list .txt .count{ position:absolute;right:0px;bottom:0px;color:#999;line-height:20px;font-size:12px;}

.rmcp .bd .list .txt h3{font-size:14px;line-height:20px; white-space:nowrap;overflow:hidden;}
.rmcp .bd .list .txt .price{font-size:14px;font-weight:bold;line-height:20px;position:absolute;left:0px;bottom:0px;}
.rmcp .bd .list .txt .cate{padding:5px 0px;}



.cp-list{ position:absolute;top:0px;left:0px;padding:102px 0px 60px 85px;height:100%;clear:both;zoom:1;box-sizing:border-box;}
.cp-list:after{content: ""; display: block; clear: both; height: 0px;}
.cp-list .cate{width:70px;padding:0px 15px 0px 0px; position:fixed;left:0px;top:102px;z-index:1;}
.cp-list .cate li{padding:10px 0px 20px 0px;}
.cp-list .cate li a{padding:0px 0px 0px 20px;height:30px;line-height:30px;font-size:14px;font-weight:bold;display:block;}
.cp-list .cate .act a{background:#ffbf00; border-radius:0px 30px 30px 0px;}

.cp-list .listbox{height:100%;background:#f5f5f5;padding:10px 0px 0px 10px;overflow:auto; box-sizing:border-box;}
.cp-list .listbox .list{margin:0px 0px 10px 0px; position:relative;}
.cp-list .listbox img{width:100%; border-radius:10px 0px 0px 10px;}
.cp-list .listbox .list .txt{ height:20px;line-height:20px;padding:0px 10px;position:absolute;left:0px;bottom:0px; right:0px;background:rgba(0,0,0,0.5);border-radius:0px 0px 0px 10px;color:#fff;}
.cp-list .listbox .list .txt .price{font-size:14px;float:left;}
.cp-list .listbox .list .txt h3{font-size:14px;float:right;}


.wd-nav{margin:0px 0px 10px 0px;border-top:5px #e5e5e5 solid;background:#fff;height:56px;padding:10px 0px;overflow:hidden;clear:both;zoom:1;}
.wd-nav:after{content: ""; display: block; clear: both; height: 0px;}
.wd-nav li{width:22.2%;text-align:center;float:left;}
.wd-nav li a{font-size:14px;display:inline-block;}
.wd-nav li a span{width:36px;height:36px; border-radius:100%; background-color:#ffbf00; background-repeat:no-repeat; background-size:24px 24px; background-position:center center; display:block;margin-bottom:3px;}

.wd-nav-fixed{position:fixed;top:102px;left:0px;right:0px;z-index:99;}
.wd-nav-blank{height:91px;}

.qz-nav{margin:0px 0px 10px 0px;border-top:5px #e5e5e5 solid;background:#fff;height:56px;padding:10px 0px;overflow:hidden;clear:both;zoom:1;}
.qz-nav:after{content: ""; display: block; clear: both; height: 0px;}
.qz-nav li{width:22.2%;text-align:center;float:left;}
.qz-nav li a{font-size:14px;display:inline-block;}
.qz-nav li a span{width:36px;height:36px; border-radius:100%; background-color:#ffbf00; background-repeat:no-repeat; background-size:24px 24px; background-position:center center; display:block;margin-bottom:3px;}

.qz-nav-fixed{position:fixed;top:50px;left:0px;right:0px;z-index:99;}
.qz-nav-blank{height:91px;}

.i_q1{ background-image:url(../images/i_q1.png); }
.i_q2{ background-image:url(../images/i_q2.png); }
.i_q3{ background-image:url(../images/i_q3.png); }
.i_q4{ background-image:url(../images/i_q4.png); }
.i_q5{ background-image:url(../images/i_q5.png); }

.margin-bottom-0{margin-bottom:0px;}

.wd-list{background:#fff;padding:0px 15px;}
.wd-list .hd{height:24px;}
.wd-list .hd h3{height:20px;line-height:20px;padding:2px;border-radius:20px;background:#333;color:#fff;font-size:14px;font-weight:bold;float:left;}
.wd-list .hd h3 a{height:20px;color:#fff;border-radius:20px;padding:0px 10px;float:left;}
.wd-list .hd h3 .act{background:#ffbf00;color:#333;}
.wd-list .bd {padding:10px 0px;clear:both;zoom:1;}
.wd-list .bd:after{content: ""; display: block; clear: both; height: 0px;}
.wd-list .bd .list{border-radius:10px;background:#ffbf00;margin-bottom:10px;clear:both;zoom:1;}
.wd-list .bd .list:after{content: ""; display: block; clear: both; height: 0px;}
.wd-list .bd .list .txt{padding:10px;font-size:14px;color:#fff;}
.wd-list .bd .list .cate{float:left;}
.wd-list .bd .list .cate .btn_ca{padding:0px 5px;height:16px;line-height:16px;font-size:12px;color:#fff;background:#434343; border-radius:0px 10px 0px 10px;display:inline-block;}
.wd-list .bd .list .cate .btn_cb{padding:0px 5px;height:16px;line-height:16px;font-size:12px;color:#fff;background:#00a0e9; border-radius:0px 10px 0px 10px;display:inline-block;}
.wd-list .bd .list .cate .btn_cc{padding:0px 5px;height:16px;line-height:16px;font-size:12px;color:#fff;background:#ff7e00; border-radius:0px 10px 0px 10px;display:inline-block;}
.wd-list .bd .list .cate .btn_cd{padding:0px 5px;height:16px;line-height:16px;font-size:12px;color:#fff;background:#ff0000; border-radius:0px 10px 0px 10px;display:inline-block;}


.wd-list .bd .list .count{height:16px;line-height:16px;color:#666;padding:0px 10px 0px 0px;float:right;}



.qz-list{background:#fff;padding:10px 0px 0px 0px;}
.qz-list .hd{height:24px;padding:0px 15px;}
.qz-list .hd h3{height:20px;line-height:20px;padding:2px;border-radius:20px;background:#333;color:#fff;font-size:14px;font-weight:bold;float:left;}
.qz-list .hd h3 a{height:20px;color:#fff;border-radius:20px;padding:0px 10px;float:left;}
.qz-list .hd h3 .act{background:#ffbf00;color:#333;}
.qz-list .bd {padding:0px 0px 50px 0px;clear:both;zoom:1;}
.qz-list .bd:after{content: ""; display: block; clear: both; height: 0px;}
.qz-list .bd .list{border-bottom:1px #e5e5e5 solid;padding:10px 15px;clear:both;zoom:1;}
.qz-list .bd .list:after{content: ""; display: block; clear: both; height: 0px;}
.qz-list .bd .list .username h3{font-size:14px;font-weight:bold;display:inline-block;margin:0px 10px 0px 0px;}
.qz-list .bd .list .username .i_top{height:16px;line-height:16px;border-radius:20px;padding:0px 5px;font-size:12px;background:#ffbf00;color:#333;display:inline-block;}
.qz-list .bd .list .stat{margin-bottom:10px;}
.qz-list .bd .list .stat .time{color:#999;margin:0px 10px 0px 0px; }
.qz-list .bd .list .txt{margin-bottom:10px;font-size:14px;line-height:1.8;}
.qz-list .bd .list .operate{ text-align:right;}
.qz-list .bd .list .pic{ padding:0px 25px 0px 0px;margin-bottom:10px;position:relative;clear:both;zoom:1;}
.qz-list .bd .list .pic:after{content: ""; display: block; clear: both; height: 0px;}
.qz-list .bd .list .pic li{width:33.3%;padding:0px 5px 0px 0px;float:left; box-sizing:border-box;}
.qz-list .bd .list .pic li img{width:100%;}
.qz-list .bd .list .pic .more{ height:100%;text-align:right; position:absolute;right:0px;top:0px;}
.qz-list .bd .list .pic .more .i_more{width:20px;height:100%;background:url(../images/i_more.png) no-repeat center center; background-size:20px 20px;display:block; opacity:0.3;}



.qz-detail{background:#f8f8f8;padding:15px;clear:both;zoom:1;}
.qz-detail:after{content: ""; display: block; clear: both; height: 0px;}
.qz-detail .username h3{font-size:14px;font-weight:bold;display:inline-block;margin:0px 10px 0px 0px;}
.qz-detail .stat{margin-bottom:10px;}
.qz-detail .txt{margin-bottom:10px;font-size:14px;line-height:1.8;}
.qz-detail .operate{ text-align:right;}
.qz-detail .time{color:#999;margin:0px 10px 0px 0px;line-height:24px;float:left;}
.qz-detail .operate b{background:#f8f8f8;}



.comment{background:#fff;padding:15px 0px 0px 0px;clear:both;zoom:1;}
.comment:after{content: ""; display: block; clear: both; height: 0px;}
.comment .hd{height:25px;line-height:25px;}
.comment .hd h3{height:25px;padding:0px 20px 0px 15px;background: #ffbf00; background-size:14px 14px; border-radius:0px 25px 25px 0px;float:left;}
.comment .bd{padding:0px 0px;clear:both;zoom:1;}
.comment .bd:after{content: ""; display: block; clear: both; height: 0px;}

.comment .bd .list{border-bottom:1px #e5e5e5 solid;padding:10px 15px;clear:both;zoom:1;}
.comment .bd .list:after{content: ""; display: block; clear: both; height: 0px;}
.comment .bd .list .username{line-height:30px;float:left;}
.comment .bd .list .username img{width:30px;height:30px;border-radius:30px;margin-right:5px;display:inline-block; vertical-align:middle;}
.comment .bd .list .username h3{font-size:12px;color:#999;font-weight:bold;display:inline-block;vertical-align:middle;}
.comment .bd .list .operate{float:right;}
.comment .bd .list .operate .i_support{padding:6px 0px 0px 24px;height:18px;font-size:12px;line-height:18px;background:url(../images/i_support.png) no-repeat left center; background-size:20px 20px;margin:0px;color:#999;}

.comment .bd .list .txt{clear:both;font-size:14px;line-height:1.8;padding:10px 0px 5px 0px;}

.comment .bd .list .reply{background:#f8f8f8;padding:5px;clear:both;zoom:1;}
.comment .bd .list .reply:after{content: ""; display: block; clear: both; height: 0px;}
.comment .bd .list .reply h3{color:#999;font-weight:bold;font-size:14px;line-height:1.8;display:inline-block;}
.comment .bd .list .reply p{font-size:14px;line-height:1.8;display:inline-block;}
.comment .bd .list .reply .more{clear:both;font-size:12px;line-height:20px;}



.i_support{padding:0px 0px 0px 16px;height:24px;font-size:12px;line-height:16px;background:url(../images/i_support.png) no-repeat 0px 2px; background-size:24px 24px;display:inline-block;margin-right:15px; position:relative;}
.i_support b{background:#fff;display:inline-block;}
.i_support i{padding:0px 5px;font-style:normal;height:16px;line-height:16px;font-size:12px;color:#fff;background:#f00;display:inline-block; position:absolute;top:-16px;left:2px;}

.i_comment{padding:0px 0px 0px 16px;height:24px;font-size:12px;line-height:16px;background:url(../images/i_comment.png) no-repeat 0px 2px; background-size:24px 24px;display:inline-block;}
.i_comment b{background:#fff;display:inline-block;}

.i_support_over{background:url(../images/i_support_over.png) no-repeat 0px 2px;background-size:24px 24px;color:#f00;}


.i_post{width:50px;height:25px; text-align:center; border-radius:100%;padding:25px 0px 0px 0px;font-size:12px;line-height:20px;background:url(../images/i_post.png) no-repeat center 5px #ffbf00; background-size:24px 24px;display:inline-block; position:fixed;right:10px;bottom:70px;}


.my-home{background:#fff;border-top:1px #e5e5e5 solid;}
.my-info{height:90px;background:#353535; border-radius:10px;margin:10px 5px; position:relative;}
.my-info .userhead{padding:15px 15px 15px 15px;float:left;}
.my-info .userhead img{width:60px;height:60px;border-radius:100%;}
.my-info .username{color:#fff;font-size:16px;line-height:90px;float:left;}
.my-info .right{width:70px;height:90px;background:url(../images/lan_bg.png) no-repeat left bottom;border-radius:0px 9px 9px 0px; position:absolute;right:0px;top:0px;}
.my-info .i_edit{width:40px;height:40px;background:url(../images/i_edit.png) no-repeat center center; background-size:24px 24px;position:absolute;right:0px;bottom:0px;}
.my-nav{padding:0px 15px;}
.my-nav a{display:block;line-height:50px;font-size:16px;}
.my-nav span{width:32px;height:32px; background-repeat:no-repeat; background-position:center center; background-size:24px 24px; background-color:#ffbf00; border-radius:100%;display:inline-block; vertical-align:middle;margin:0px 15px 0px 0px;}

.my-nav .i_u1{ background-image:url(../images/i_u1.png);}
.my-nav .i_u2{ background-image:url(../images/i_u2.png);}
.my-nav .i_u3{ background-image:url(../images/i_u3.png);}
.my-nav .i_u4{ background-image:url(../images/i_u4.png);}
.my-nav .i_u5{ background-image:url(../images/i_u5.png);}
.my-nav .i_u6{ background-image:url(../images/i_u6.png);}
.my-nav .i_u7{ background-image:url(../images/i_u7.png);}

.bg-w{background:#fff !important;}



.soon{width:100%;height:100%; position:fixed;top:0px;left:0px;z-index:1;}
.soon .bg{width:100%;height:100%;  background:url(../images/soon_bg.jpg) no-repeat 0px 102px; background-size:100% auto;}
.soon .txt {width:240px;top:50%;left:50%; position:absolute;margin:-102px 0px 0px -120px;}
.soon .txt h3{font-size:24px;color:#fff;line-height:50px;font-weight:bold;}
.soon .txt h4{border-top:3px #ffbf00 solid; border-bottom:3px #ffbf00 solid;font-size:28px;font-weight:bold;color:#ffbf00;line-height:70px;height:70px; text-align:center;}
.soon .txt p{text-align:right;padding:10px 0px 0px 0px;}

.btn_h{height:30px;line-height:30px;background:#000;color:#fff;font-size:16px;padding:0px 10px;display:inline-block;}


.cp-banner{ position:relative;}
.cp-banner img{width:100%;}
.cp-banner .share{ position:absolute;right:0px;top:20px;color:#fff;font-size:12px;height:24px;line-height:24px;background:#ffbf00; border-radius:24px 0px 0px 24px;padding:0px 10px 0px 5px;}
.cp-banner .share a{dipslay:block;}
.cp-banner .share .i_qian{width:16px;height:16px;border-radius:100%;background:url(../images/i_qian.png) no-repeat center center #353535 ; background-size:14px 14px;display:inline-block; vertical-align:middle;margin:0px 5px 0px 0px;}
.cp-banner .count{ position:absolute;right:10px;bottom:10px;color:#fff;font-size:12px;}

.cp-title{margin:0px 5px;height:90px;padding:0px 140px 0px 15px;background:#353535; border-radius:10px; position:relative;}
.cp-title .right{width:130px;height:65px;padding:25px 0px 0px 40px;text-align:center;background:url(../images/lan_bg.png) no-repeat left bottom;border-radius:0px 9px 9px 0px; position:absolute;right:0px;top:0px;}
.cp-title .right a{color:#fff;margin:0px 10px 0px 10px;display:inline-block;}

.cp-title h3{color:#fff;font-size:18px;font-weight:bold;line-height:40px; white-space:nowrap;overflow:hidden;}
.cp-title p{color:#fff;font-size:14px;}


.i_fav{width:32px;height:32px; border-radius:100%;background:url(../images/i_fav_y.png) no-repeat center center #fff; background-size:24px 24px; display:block;box-shadow: 0px 5px 10px #999;margin:0px 0px 5px 0px;}
.i_share{width:32px;height:32px;border-radius:100%;background:url(../images/i_share_y.png) no-repeat center center #fff; background-size:24px 24px; display:block;box-shadow: 0px 5px 10px #999;margin:0px 0px 5px 0px;}



.box-w{background:#fff;margin-bottom:10px;padding:10px 0px;clear:both;zoom:1;}
.box-w:after{content: ""; display: block; clear: both; height: 0px;}




.cp-detail{background:#fff;clear:both;zoom:1;}
.cp-detail:after{content: ""; display: block; clear: both; height: 0px;}
.cp-detail .hd{height:25px;line-height:25px;}
.cp-detail .hd h3{height:25px;padding:0px 20px 0px 15px;background: #ffbf00; background-size:14px 14px; border-radius:0px 25px 25px 0px;float:left;}
.cp-detail .bd{padding:15px 15px;clear:both;zoom:1;}
.cp-detail .bd:after{content: ""; display: block; clear: both; height: 0px;}
.cp-detail .bd .txt{font-size:14px;line-height:1.8;padding:0px 0px 15px 0px;}
.cp-detail .bd .tips{font-size:12px;color:#999;line-height:1.5;}

.popup{ position:fixed;top:0px;left:0px;width:100%;height:100%; background:rgba(0,0,0,0.5);z-index:999;}
.popup-box{width:280px; position:absolute;top:50%;left:50%;margin:-100px 0px 0px -140px;background:#fff; border-radius:10px;}
.popup-box .popup-title{text-align:center;padding:10px;}
.popup-box .popup-title h3{font-size:18px;font-weight:bold;line-height:30px;}
.popup-box .popup-con{padding:10px 0px;}
.popup-box .popup-con .pic{text-align:center;padding:0px 0px 10px 0px;}
.popup-box .popup-con .txt{text-align:center;}
.popup-box .popup-con .txt h3{text-align:center;font-size:16px;line-height:20px;margin:0px 0px 10px 0px;font-weight:bold;}
.popup-box .popup-con .txt h4{text-align:center;font-size:14px;line-height:20px;margin:0px 0px 0px 0px;}
.popup-box .popup-con .txt p{text-align:center;font-size:14px;line-height:20px;color:#999;margin:0px 0px 10px 0px;}
.popup-box .popup-con .txt strong{font-weight:bold;}
.popup-box .popup-btn{padding:10px;text-align:center;}
.popup-box .popup-btn .btn_ba_w{width:100%; box-sizing:border-box;}
.popup-box .popup-footer{height:60px;line-height:60px;text-align:center;background:#fdfdfd;border-radius:0px 0px 10px 10px;border-top:1px #cacaca solid;}


.popup-box-w{width:100%;bottom:0px;top:auto;left:0px;margin:0px;background:#fff; border-radius:0px;}
.popup-box-w .popup-title{height:40px;border-bottom:1px #eee solid;padding:0px 40px;line-height:40px;text-align:center; position:relative;}
.popup-box-w .popup-title h3{font-size:14px;font-weight:bold;line-height:40px;}
.popup-box-w .popup-title .i_close{ position:absolute;left:0px;top:0px;width:40px;height:40px;background:url(../images/i_close.png) no-repeat center center; background-size:30px 30px;display:block;}
.popup-box-w .popup-footer{height:60px;line-height:60px;text-align:center;background:#fff;border-radius:0px;border-top:0px;box-shadow: 0px 0px 10px #999;}
.popup-box-w .popup-con{padding:10px 0px;}

.popup-box-w .stars{width:150px;height:30px;margin:0 auto 10px auto;}
.popup-box-w .stars a{width:30px;height:30px;background:url(../images/i_star.png) no-repeat center center; background-size:24px 24px;float:left;}
.popup-box-w .stars a:hover{background:url(../images/i_star_over.png) no-repeat center center; background-size:24px 24px;}

.popup-box-w .tags{ text-align:center;}
.popup-box-w .tags li{display:inline-block;}
.popup-box-w .tags li a{margin:5px;width:92px;text-align:center;font-size:14px;height:28px;line-height:28px;color:#666;border:1px #ddd solid;background:#fff; border-radius:3px;display:inline-block;overflow:hidden;}
.popup-box-w .tags li .act{color:#ffbf00;border:1px #ffbf00 solid;background:#fffaed;}

.popup-box-w .textareas{padding:20px 34px;}
.popup-box-w .textarea_a{width:100%;height:80px;padding:10px;line-height:20px;font-size:14px;color:#333; border-radius:5px;border:1px #ededed solid;background:#fcfcfc; box-sizing:border-box;overflow:auto;}
.popup-box-w .textarea_a strong{font-size:16px;color:#f00;font-weight:bold;}
.popup-box-w .textarea_a b{font-size:12px;color:#f00;}

.popup-box-w .textarea_a::-webkit-input-placeholder {color:#ccc;}
.popup-box-w .textarea_a:-moz-placeholder {color:#ccc;}
.popup-box-w .textarea_a::-moz-placeholder {color:#ccc;}
.popup-box-w .textarea_a:-ms-input-placeholder {color:#ccc;}


.userinfo-tip-box{background:#fff;padding:10px 0px 30px 0px;margin:5px 0px 10px 0px;}

.userinfo-tip{margin:0px 5px;height:145px;padding:0px 140px 0px 15px;background:#ffbf00; border-radius:10px; position:relative;}
.userinfo-tip .right{width:250px;height:95px;padding:50px 0px 0px 40px;text-align:center;background:url(../images/lan_h_bg.png) no-repeat left bottom;border-radius:0px 9px 9px 0px; position:absolute;right:0px;top:0px;}
.userinfo-tip .ib_gou{width:54px;height:54px;background:url(../images/ib_gou.png) no-repeat center center #fff; background-size:40px 40px; border-radius:100%;display:block; position:absolute;top:46px;left:25px;}
.userinfo-tip .right h3{color:#fff;font-size:16px;line-height:24px;}


.userinfo{background:#fff;clear:both;zoom:1;}
.userinfo:after{content: ""; display: block; clear: both; height: 0px;}
.userinfo .hd{height:25px;line-height:25px;}
.userinfo .hd h3{height:25px;padding:0px 20px 0px 15px;background: #ffbf00; background-size:14px 14px; border-radius:0px 25px 25px 0px;float:left;}
.userinfo .bd{padding:15px 15px;clear:both;zoom:1;}
.userinfo .bd:after{content: ""; display: block; clear: both; height: 0px;}
.userinfo .bd .form dl{padding:0px 10px 0px 90px;height:50px;line-height:50px;margin:0px 0px 5px 0px; background:#353535;border-radius:10px; position:relative;}

.userinfo .bd .form dl dt{ position:absolute;left:15px;top:0px;color:#fff;font-size:16px;}
.userinfo .bd .form dl dd{padding:7px 0px;height:36px;line-height:34px; text-align:right;}
.input_a{width:100%;height:34px;line-height:34px;background:#fff;border-radius:10px;border:0px;padding:0px 10px; box-sizing:border-box; vertical-align:middle;font-size:16px;color:#333;}
.input_b{width:120px;height:34px;line-height:34px;background:url(../images/lan_w_bg.png) no-repeat bottom left;border-radius:0px 10px 10px 0px;border:0px;padding:0px 20px 0px 30px; box-sizing:border-box; vertical-align:middle;font-size:16px;color:#333;text-align:right;display:inline-block;}
.input_c{width:80px;height:34px;line-height:34px;background:url(../images/lan_w_bg.png) no-repeat bottom left;border-radius:0px 10px 10px 0px;border:0px;padding:0px 0px 0px 40px; box-sizing:border-box; vertical-align:middle;font-size:16px;color:#333;text-align:right;display:inline-block;}

.select_a{width:100%;height:34px;line-height:34px;border:0px;padding:0px;margin:0px;font-size:16px;color:#333;text-align:left; vertical-align:top;}


.xgtj{margin-bottom:10px;background:#fff;clear:both;zoom:1;}
.xgtj:after{content: ""; display: block; clear: both; height: 0px;}
.xgtj .hd{height:25px;line-height:25px;}
.xgtj .hd h3{width:75px;height:25px;padding:0px 15px 0px 10px;background:url(../images/is_ar_right.png) no-repeat 75px center #ffbf00; background-size:14px 14px; border-radius:0px 25px 25px 0px;float:left;}
.xgtj .hd .right{float:right; position:relative;}
.xgtj .bd{padding:0px 15px;clear:both;zoom:1;}
.xgtj .bd:after{content: ""; display: block; clear: both; height: 0px;}
.xgtj .bd .list{padding:10px 50px 10px 0px;border-bottom:1px #e5e5e5 solid;clear:both;zoom:1; position:relative;}
.xgtj .bd .list:after{content: ""; display: block; clear: both; height: 0px;}
.xgtj .bd .list .count{ color:#999;line-height:20px;font-size:12px;padding:0px 0px 0px 10px;display:inline-block;}
.xgtj .bd .list h3{font-size:14px;line-height:20px; white-space:nowrap;overflow:hidden;}
.xgtj .bd .list .price{font-size:14px;line-height:20px;font-weight:bold;line-height:20px;position:absolute;right:0px;top:10px;}
.xgtj .bd .list .cate{padding:5px 0px;display:inline-block;}


.cp-info-box{background:#fff;padding:10px 0px 15px 0px;margin:5px 0px 10px 0px;}
.cp-info{margin:0px 5px;height:145px;padding:0px 140px 0px 15px;background:#353535; color:#fff;border-radius:10px; position:relative;}
.cp-info .right{width:130px;height:145px;padding:0px 0px 0px 0px;text-align:center;background:url(../images/lan2_bg.png) no-repeat left top;border-radius:0px 9px 9px 0px; position:absolute;right:0px;top:0px;}
.cp-info .time{ position:absolute;right:10px;bottom:10px;line-height:20px;}
.cp-info .tips{ position:absolute;right:80px;bottom:10px;line-height:20px; text-align:right;}
.cp-info .tester{ position:absolute;left:10px;bottom:10px;line-height:20px;font-size:14px;}
.cp-info h3{position:absolute;left:10px;top:10px;line-height:30px;font-size:18px;font-weight:bold;}
.cp-info p{position:absolute;left:10px;top:40px;line-height:30px;font-size:14px;}


.cp-result{margin-bottom:10px;background:#fff;clear:both;zoom:1;}
.cp-result:after{content: ""; display: block; clear: both; height: 0px;}
.cp-result .hd{height:25px;line-height:25px;background:#f7f7f7;}
.cp-result .hd h3{height:25px;padding:0px 20px 0px 15px;background:#ffbf00; border-radius:0px 25px 25px 0px;float:left;}
.cp-result .bd{padding:0px 0px 20px 0px;clear:both;zoom:1;}
.cp-result .bd:after{content: ""; display: block; clear: both; height: 0px;}
.cp-result .bd .chart{background:#f7f7f7;text-align:center;padding:20px 30px 0px 30px;height:200px;}
.cp-result .bd .item{padding:20px 20px 0px 20px;}
.cp-result .bd .item h3{height:30px;line-height:30px;background:#ffbf00;padding:0px 15px; font-size:14px;display:inline-block; position:relative;margin-bottom:10px;}
.cp-result .bd .item h3 i{width:5px;height:5px; border-radius:5px;background:#fff;display:block; position:absolute;top:5px;left:5px;}
.cp-result .bd .item h3 b{width:5px;height:5px; border-radius:5px;background:#fff;display:block; position:absolute;top:5px;right:5px;}
.cp-result .bd .item dl{clear:both;line-height:24px;font-size:14px;}
.cp-result .bd .item dl dt{font-size:14px;font-weight:bold;padding:5px 0px;}
.cp-result .bd .item p{clear:both;line-height:24px;font-size:14px;}
.cp-result .bd .item strong{font-weight:bold;}


.i_c1{width:24px;height:24px;border-radius:100%;background:url(../images/i_c1.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}
.i_c2{width:24px;height:24px;border-radius:100%;background:url(../images/i_c2.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}
.i_c3{width:24px;height:24px;border-radius:100%;background:url(../images/i_c3.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}
.i_c4{width:24px;height:24px;border-radius:100%;background:url(../images/i_c4.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}
.i_c5{width:24px;height:24px;border-radius:100%;background:url(../images/i_c5.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}
.i_c6{width:24px;height:24px;border-radius:100%;background:url(../images/i_c6.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}
.i_c7{width:24px;height:24px;border-radius:100%;background:url(../images/i_c7.png) no-repeat #ffbf00 center center; background-size:20px 20px;display:inline-block; vertical-align:middle;margin-right:10px;}



.cp-note-box{background:#fff;padding:40px 10px 60px 10px;margin:5px 0px;clear:both;zoom:1;}
.cp-note-box:after{content: ""; display: block; clear: both; height: 0px;}

.cp-note{ border-radius:10px;}
.cp-note .hd{ border-radius:10px 10px 0px 0px;background:#ffbf00; text-align:center;color:#fff;padding:15px 0px;}
.cp-note .hd h3{font-size:16px;font-weight:bold;color:#333;line-height:20px;margin-bottom:10px;}
.cp-note .hd p{font-size:14px;font-weight:bold;line-height:20px;}
.cp-note .bd {border-radius:0px 0px 10px 10px;background:#353535;padding:15px;line-height:1.8;font-size:14px;color:#fff;}



.cp-progress-box{background:#fff;padding:10px 15px 15px 15px;margin:5px 0px 0px 0px;clear:both;zoom:1;}
.cp-progress-box:after{content: ""; display: block; clear: both; height: 0px;}

.cp-progress{height:24px;padding:15px 105px 15px 15px;border-radius:10px;background:#353535; position:relative;}
.cp-progress .right{ width:110px;height:54px;border-radius:0px 9px 9px 0px;position:absolute;right:0px;top:0px;background:url(../images/lan_bg.png) no-repeat left bottom;}
.cp-progress .bar{height:20px;padding:2px;background:#fff;border-radius:5px;}
.cp-progress .bar-over{width:100%;height:20px;background:#ffbf00;border-radius:5px;float:left;}
.cp-progress p{ position:absolute;left:15px;bottom:0px;line-height:15px;color:#fff;font-size:12px;}
.cp-progress .time{position:absolute;right:5px;top:16px;padding:0px 20px 0px 0px;line-height:24px;color:#333;font-size:12px;background:url(../images/i_time.png) no-repeat right center; background-size:20px 20px;}


.cp-paper-box{background:#fff;padding:0px 15px 15px 15px;clear:both;zoom:1;}
.cp-paper-box:after{content: ""; display: block; clear: both; height: 0px;}
.cp-paper{padding:0px; }
.cp-paper .hd{padding:10px 10px 10px 10px;line-height:20px;font-size:14px;border-radius:10px 10px 0px 0px;background:#ffbf00; }
.cp-paper .hd h3{font-size:14px;font-weight:bold;}
.cp-paper .bd{padding:0px;border-radius:0px 0px 10px 10px;background:#353535; }
.cp-paper .bd li{border-bottom:2px #303030 solid;color:#fff;padding:10px 50px 10px 10px;font-size:14px;font-weight:bold;line-height:20px; position:relative;}
.cp-paper .bd li:last-child{border:0px;}
.cp-paper .bd .i_select{width:24px;height:24px; background:url(../images/i_select.png) no-repeat center center #5f5f5f; background-size:18px 18px; border-radius:100%; position:absolute;right:15px;top:50%;margin:-12px 0px 0px 0px;}
.cp-paper .bd .selected{color:#ffbf00;}
.cp-paper .bd .selected .i_select{background:url(../images/i_select.png) no-repeat center center #ffbf00; background-size:18px 18px;}




.post-box{border-top:5px #e5e5e5 solid;background:#fff;padding:10px 20px;}
.post-box .txt .textarea_b{width:100%;height:100px;line-height:20px;font-size:14px;color:#333;overflow:auto;}
.post-box .txt .textarea_b strong{font-size:16px;color:#f00;font-weight:bold;}
.post-box .txt .textarea_b b{font-size:12px;color:#f00;}
.post-box .txt p{text-align:right;line-height:30px;font-size:14px;color:#999;}
.post-box .pic{padding:20px 0px 0px 0px;}
.post-box .pic li{width:88px;height:88px;margin:0px 10px 10px 0px;float:left;}
.post-box .pic li img{width:88px;height:88px;}
.post-box .pic li .i_add{width:100%;height:100%;background:url(../images/ib_add.png) no-repeat center center #e5e5e5; background-size:32px 32px;display:block;}


.post-footer{ position:fixed;bottom:0px;left:0px;right:0px;padding:0px 80px 0px 10px ;height:50px;line-height:50px;background:#fff;border-top:1px #eaeaea solid;}
.post-footer .i_img{width:50px;height:50px;background:url(../images/ib_img.png) no-repeat center center; background-size:32px 32px;float:left;}
.post-footer .i_face{width:50px;height:50px;background:url(../images/ib_face.png) no-repeat center center; background-size:32px 32px;float:left;}
.post-footer .btn_post{width:60px;height:30px;line-height:30px;font-size:14px;color:#333;font-weight:bold;background:#ffbf00; border-radius:5px;padding:0px 0px; text-align:center; position:absolute;right:10px;top:10px;}
.post-footer .input_post{width:100%;height:30px;line-height:30px;border:1px #d1d1d1 solid;font-size:14px;color:#333;background:#ddd; border-radius:5px;padding:0px 10px;margin:10px 0px; box-sizing:border-box;}
.post-footer-blank{height:51px;}


.select-cate{ text-align:center;}
.select-cate li{display:inline-block;}
.select-cate li a{width:100px;height:34px;line-height:34px; border-radius:5px;background:#fff; text-align:center;font-size:14px;color:#333;display:inline-block;margin:0px 15px 15px 0px;border:1px #dcdcdc solid;}
.select-cate li .selected{background:#ffbf00;border:1px #ffbf00 solid;}






.f_a{color:#ff0000;}
.f_b{color:#333;}
.f_c{color:#00a0e9;}
.f_d{color:#ff7e00;}


.ib_success{width:64px;height:64px;border:1px #ffbf00 solid;background:url(../images/ib_success.png) no-repeat center center #fff9e6; background-size:48px 48px; border-radius:100%;display:inline-block;}

.btn_sa{height:16px;line-height:16px;padding:0px 5px;border:1px #ff7e00 solid; border-radius:3px;background:#fff;font-size:12px;color:#ff7e00;display:inline-block;}

.btn_sb{height:16px;line-height:16px;padding:0px 5px;border:1px #333 solid; border-radius:3px;background:#fff;font-size:12px;color:#333;display:inline-block;}

.btn_sc{height:16px;line-height:16px;padding:0px 5px;border:1px #ff0000 solid; border-radius:3px;background:#fff;font-size:12px;color:#ff0000;display:inline-block;}

.btn_ba{min-width:70px;height:40px;line-height:40px;background:#ffbf00; border-radius:5px;padding:0px 20px;font-size:16px;color:#333;font-weight:bold;display:inline-block; vertical-align:middle; text-align:center;}

.btn_ba_w{height:40px;line-height:40px;background:#ffbf00; border-radius:5px;padding:0px 30px;font-size:16px;color:#fff;font-weight:bold;display:inline-block; vertical-align:middle;}

.btn_zb{font-size:18px;font-weight:bold;color:#333; text-decoration:underline;}








.container{width:1000px;margin:0 auto;clear:both;zoom:1;}
.container:after{content: ""; display: block; clear: both; height: 0px;}
.container .con-left{width:720px;float:left;overflow:hidden;}
.container .con-right{width:280px;float:right;overflow:hidden;}




.pages{padding:40px 0px;clear:both;zoom:1;}
.pages:after{content: ""; display: block; clear: both; height: 0px;}
.pages a{min-width:10px;text-align:center;padding:0px 10px;height:30px;line-height:30px;font-size:14px;margin:0px 10px 0px 0px;border:1px #ddd solid; border-radius:5px;background:#fff;color:#999;display:inline-block;}
.pages a:hover{border:1px #264187 solid;color:#264187;}
.pages a.act{background:#264187;color:#fff;}




@media screen and (max-width: 640px) {
    .mob-wrap{min-width:320px;}
}












